<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <Append>false</Append>
        <File>logs/goby.log</File>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %5r %p [%-7t] [%-15c{1}] %-34C{2} - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="AnnotationAveragingWriter" level="INFO"/>
    <logger name="SortMode" level="DEBUG"/>
    <logger name="org.reflections" level="WARN"/>
    <logger name="EmpiricalPValueEstimator" level="INFO"/>
    <logger name="SortIterateAlignments" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="file"/>
    </root>
</configuration>